body {
  margin: 0;
}

input {
  all: unset;
}

textarea,
select,
input {
  field-sizing: content;
}

.banner {
  padding: 20px 40px;
  text-align: start;
  background: grey;
  font-size: 1.3rem;
  font-weight: bold;
}

#main {
  width: 80%;
  /* border: 1px solid blue; */
}

#content {
  max-width: 100%;
  /* border: 1px solid red; */
  display: flex;
  height: 100vh;
}

#sidebar {
  display: flex;
  flex-direction: column;
  width: 20%;
  background: 1px solid lime;
  padding: 10px 20px;
  background: rgba(233, 233, 233, 0.8);
}

#sidebar > * {
  margin: 10px 30px;
  padding: 8px;
  border-radius: 8px;
  text-align: center;
  font-size: 1rem;
}

.chevron-left {
  width: 20px;
  border: 1px solid black;
  background: black;
  fill: #ffff;
}

.add-project-btn {
  color: white;
  background: orange;
  border: none;
}

.search-input {
  border: 1px solid grey;
  max-width: auto;
  color: black;
}

.task-sort-options-dropdown {
  color: dodgerblue;
}

.selected-title {
  background: black;
  color: white;
}

.main-title {
  color: #ffff;
  font-size: 1.4em;
  background: black;
  padding: 10px 40px;
  margin: 10px auto 10px 10px;
  display: inline-block;
  border-radius: 8px;
}

#main h3 {
  margin: 10px auto 10px 30px;
    font-weight: bold;

}

.projects-div {
  margin: 10px auto 10px 30px;
  padding: 20px;
}

.projects-div h4 {
  padding: 10px;
  font-weight: bold;
  border-bottom: 1px solid black;
}

