body {
  margin: 0;
}

/* input {
  all: unset;
} */

ul,
li {
  display: inline-block;
}

textarea,
select,
input  {
  field-sizing: content;
}

.banner {
  padding: 20px 40px;
  text-align: start;
  background: grey;
  font-size: 1.3rem;
  font-weight: bold;
}

#main {
  width: 80%;
  /* border: 1px solid blue; */
}

#content {
  max-width: 100%;
  /* border: 1px solid red; */
  display: flex;
  height: 100vh;
}

#sidebar {
  display: flex;
  flex-direction: column;
  width: 20%;
  padding: 10px 20px;
  background: rgba(233, 233, 233, 0.8);
  transition: all 0.4s ease;
}

/* #sidebar > * {
  margin: 10px auto;
  font-size: 1rem; 
} */

#sidebar > ul {
  display: flex;
  gap: 10px;
}

#sidebar-nav {
  display: flex;
  width: 100%;
  flex-direction: column;
  /* border: 1px solid red; */
}

.small-icons {
  width: 15px;
  justify-self: end;
}


.icons {
  border-radius: 8px;
  width: 30px;
  height: 30px;
  /* background: black; */
  /* margin: 0 auto; */
}

.list-icon {
  /* border: 1px solid orange; */
  margin: 0 auto;
  display: flex;
  width: 80%;
  justify-content: flex-start;
  gap: 20px;
}

.list-icon p {
  align-self: center;
  /* color: lime; */
}

.list-icon img {
  border: 1px solid black;
  padding: 10px;
}

.main-title {
  color: #ffff;
  font-size: 1.4em;
  background: black;
  padding: 10px 40px;
  margin: 10px auto 10px 10px;
  display: inline-block;
  border-radius: 8px;
}

#main h3 {
  margin: 10px auto 10px 30px;
  font-weight: bold;
}

.projects-div {
  margin: 10px 30px;
  padding: 20px;
  /* border: 1px solid red; */
}

.projects-div h4 {
  padding: 10px;
  font-weight: bold;
}

.projects-div li {
  /* display: flex; */
  justify-content: space-between;
  padding: 20px 0;
}

.projects-div li a {
  cursor: pointer;
  justify-content: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.add-task-btn {
  max-width: 40px;
}

.add-task-btn img {
  width: 100%;
  margin: 0 auto;
}
.add-task-btn img:hover {
  border: 1px solid black;
  border-radius: 8px;
}

.project-item {
  display: flex;
  flex-direction: column;
  /* border: 1px solid blue; */
  gap: 10px;
}

.project-item div {
  display: flex;
  justify-content: space-between;
  /* border: 1px solid lime; */
  border-bottom: 3px solid black;
}

.project-item ul {
  /* border: 1px solid red; */
  width: 100px;
}

#sidebar.collapsed {
  width: 80px;
}

#sidebar .list-icon p {
  transition: opacity 0.3s ease;
}

#sidebar.collapsed .list-icon p {
  opacity: 0;
  pointer-events: none;
}

#tasks {
  border: 1px solid red;
  width: 80%;
}

.new-task {
  display: flex;
  width: 60%;
  /* width: fit-content; */
  border: 1px solid lime;
}

@media (max-width: 600px) {
  .list-icon {
    flex-direction: column;
  }
}
