body {
  margin: 0;
}

input {
  all: unset;
}

textarea,
select,
input {
  field-sizing: content;
}

.banner {
  padding: 20px 40px;
  text-align: start;
  background: grey;
  font-size: 1.3rem;
  font-weight: bold;
}

#main {
  width: 80%;
  /* border: 1px solid blue; */
}

#content {
  max-width: 100%;
  /* border: 1px solid red; */
  display: flex;
  height: 100vh;
}

#sidebar {
  display: flex;
  flex-direction: column;
  width: 20%;
  background: 1px solid lime;
  padding: 10px 20px;
  background: rgba(233, 233, 233, 0.8);
}

/* #sidebar > * {
  margin: 10px auto;
  font-size: 1rem; 
} */

#sidebar > ul {
  display: flex;
  gap: 10px
}

#sidebar-nav {
  display: flex;
  width: 100%;
  flex-direction: column;
  /* border: 1px solid red; */
}


.icons {
  border-radius: 8px;
  width: 30px;
  height: 30px;
  /* background: black; */
  /* margin: 0 auto; */
}

.list-icon {
  border: 1px solid orange;
  margin: 0 auto;
  display: flex;
  width: 80%;
  justify-content: flex-start;
  gap: 20px;
}

.list-icon p {
  align-self: center;
  color: lime;
}

.selected-title {
  background: black;
  color: white;
}

.main-title {
  color: #ffff;
  font-size: 1.4em;
  background: black;
  padding: 10px 40px;
  margin: 10px auto 10px 10px;
  display: inline-block;
  border-radius: 8px;
}

#main h3 {
  margin: 10px auto 10px 30px;
  font-weight: bold;
}

.projects-div {
  margin: 10px auto 10px 30px;
  padding: 20px;
}

.projects-div h4 {
  padding: 10px;
  font-weight: bold;
  border-bottom: 1px solid black;
}

#sidebar.collapsed {
  width: 100px;
  color: lime;
}

@media (max-width: 600px) {
  .list-icon {
    flex-direction: column;
  }
}